@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 90% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 90%;
    --muted-foreground: 224 71.4% 40.1%;
    --accent: 16 95% 68%;
    --accent-foreground: 16 84% 15.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 85.1%;
    --input: 215 20.2% 85.1%;
    --ring: 207 90% 54%;
    --radius: 0.8rem;
    --chart-1: 207 90% 54%;
    --chart-2: 16 95% 68%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 207 90% 54%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 27.9% 90%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 215 20.2% 85.1%;
    --sidebar-ring: 207 90% 54%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 90% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 16 95% 68%;
    --accent-foreground: 16 84% 15.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 207 90% 54%;
    --chart-1: 207 90% 54%;
    --chart-2: 16 95% 68%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 207 90% 54%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 207 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
